
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Raporları</h1>
<br />

<a href="/Report/StaticReport" class="btn btn-outline-info">Static Raporları</a>
<br />
<a href="/Report/ContactReport" class="btn btn-outline-info">Mesaj Raporları</a>
<br />
<a href="/Report/AnnouncementReport" class="btn btn-outline-info">Duyuru Raporlarır</a>
<br />

