@using EntityLayer.Concrete
@model List<Adress>

<div class="w3l_header_left">
	@foreach (var item in Model)
	{
		<ul>
			<li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>@item.Desctiption1/@item.Desctiption3</li>
			<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> @item.Desctiption4</li>
			<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:info@example.com">@item.Desctiption2</a></li>
		</ul>
	}
	
</div>